<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cutecoffee">

    <application
        android:name=".util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_shop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityAndNav.OrderDetailsActivity"/>
        <activity android:name=".activityAndNav.OrderFragment" />
        <activity android:name=".activityAndNav.PayActivity" />
        <activity android:name=".activityAndNav.RechargeActivity" />
        <activity android:name=".activityAndNav.MyAccountActivity" />
        <activity android:name=".activityAndNav.StoreGoodsActivity" />
        <activity android:name=".activityAndNav.RegisterActivity" />
        <activity android:name=".activityAndNav.HomeActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>